
body {
	margin:0;
	}
ul.topnav {
  list-style-type: none;
 
  padding: 0;
  overflow: hidden;
  background-color: #333;


}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

h1{
	color:black;
	font-family:MV Boli;
	font-size:20px;
	margin-left:100px;
	margin-top:50px;

}
#iSadirah{
	width:10%;
}
#box{
	border: 3px solid red;
    padding: 10px 10px;
    background: white;
    width: 400px;
    height: 180px;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin: auto;
	margin-left:400px;
	margin-top:-480px;
}
#box2{
	border: 3px solid red;
    padding: 10px 10px;
    background: white;
    width: 400px;
    height: 90px;
    border-radius: 20px;
	border-bottom-style:solid;
    text-align: center;
    color: black;
    margin: auto;
	margin-left:400px;
	margin-top:170px;
}



@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  #iSadirah{
	width:96%;
	margin-left:0 auto;
	height:1%;
	
}
	#box{
	border: 3px solid red;
    padding: 10px 10px;
    background: white;
    color: black;
    margin: auto;
	width:90%;
	height:150%;

	float:left;

}
#box2{
	border: 3px solid red;
    padding: 10px 10px;
    background: white;
    border-radius: 20px;
	border-bottom-style:solid;
    text-align: center;
    color: black;
    margin: auto;
	width:90%;
	height:150%;
	float:left;
	}
}