/*GLOBAL and MOBILE responsive*/

body {
  margin:0 auto;

}
h1 {
  font-size: 1.25em;
  text-align: center;
  background: black;
  color: #eee;
  margin: 0;
  padding: 0.5em;
 
}
h2 {
  margin-top: 0;
   margin-left:45%;
}
footer a:link,
footer a:visited {
  color: #444;
}
footer a:hover {
  color: #888;
}
.me {
	width: 100px;
    height: 100px;	
	margin:1% auto;
	display:block;
	border: 5px solid #fff;	
}
#me h1{
	font-size:20px;
}
#me p{
	font-size:15px;
}
.row{
       display: -webkit-flex;
    display: flex;
	width:90%;
	/* margin-left:-6%; */
}
.column {
    margin-left:-1%;
    width: 70%;
	padding-left:5%;
   font-size:.8em;
   font-family:Verdana,sans-serif;
    
}
#abilities {
    width: 100%;
    height: 400px;
    display: -webkit-flex; /* Safari */

    display: flex;

}


.mySlides {display:none;}

.skill{

	
	width:100%;
	height:100px;
	margin-left:2%;
	background-color:white;
	border:solid;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
	margin-top:-10%;
	margin-left:10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.tab__container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 6%;
}


.skillBar {
    margin-bottom: 26px;
    margin-bottom: 1.66em;
	margin-left:25%;
}

.skillBar h4 {
    font-size: 21px;
    font-size: 1.33em;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 7px;
    margin-bottom: .33em;
}

.skillBarContainer {
    width: 100%;
    max-width: 650px;
    height: 46px;
    height: 1.66em;
    background: #fff;
    background: rgba(8,102,220,.2);
    overflow: hidden;
    border-radius: 5px;
	
}

.skillBarValue {
    height: 1.66em;
    float: left;
    background: #fff;
    background: rgb(17, 17, 17);
	
}

.value-00 { width: 0; }

.value-10 { width: 10%; }

.value-20 { width: 20%; }

.value-30 { width: 30%; }

.value-40 { width: 40%; }

.value-50 { width: 50%; }

.value-60 { width: 60%; }

.value-70 { width: 70%; }

.value-80 { width: 80%; }

.value-90 { width: 90%; }

.value-100 { width: 100%; }






/*
  Hides the radio buttons ('input' tags) themselves, but not
  their labels, which form the tabs.
  
  Also sets styles for the section tags and hides them.
*/
main > input,
section {
  display: none;
  padding: 1em;
  clear: both;
}
section footer {
  position: relative;
  bottom: 0;
  background: black;
  width: 100%;

}
section footer p {
  padding: 0 1em;
  line-height: 1.5em;
  text-align: center;
}
/*
  displays and styles 'label' tags (for radio button 'input' tags)
*/
label {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 25%;
  color: #888;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #eee;
  line-height: 3em;
  border-right: 1px solid #444;
}
/* hides the tab text but leaves the icons visible: */
label span {
  display: none;
}
label:last-child {
  border-right: none;
}

/*
  The radio button label tags form the 'tabs' used to show the 
  sections - when clicked, the input tag 'checked' attribute 
  becomes true, so the section tags with IDs 'content1-3' can
  be targeted *in relation* to each radio button.
  This changes the display of specific section elements (with
  IDs 'content1-3') from 'none' to 'block', but *only when* the 
  associated and preceding (~) radio button becomes 'checked'. 
  For the CSS3 ~ selector see:
  http://www.w3schools.com/cssref/sel_gen_sibling.asp
*/
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
/*
  Styles label elements (tabs) *only* when they're 'checked'
*/
[id^="tab1"]:checked + label {
  background: #ccc;
  color: #222;
  
}
[id^="tab"]:checked + label .fa {
  color: #090;
}

.tab-content {
  background: #fff;
 
}
.fa {
  margin-right: 10px;
}


/* --------- Basic animation --------- */
/*
  this can all be commented out without
  affecting the functionality of the tabs
*/

.tab_container section * {
  animation: fadeIn 0.7s ease-in-out;
}
}

@keyframes fadeIn {

  0% { 
  	opacity: 0;
  }

  100% { 
  	opacity: 1;
  }
  
}
iframe{
	width:100%;
	height:300px;
}
.collaboration h2{
	background-color:#ff000;
	   border:solid;
	   position:relative;
	   text-align:center;
	   margin-left:0%;
	
}
.twitter-timeline{
	margin-left:2%;
	
}
.pictures{
	width:31%;
	margin-left:1%;
	
}


/* --------- table styles below here --------- */


/* --------- unordered list styles below here --------- */


/* --------- definition list styles below here --------- */




/* --------- tablet --------- */

@media only screen and (min-width: 500px) {

	
  h1 {
    font-size: 2em;
  }
  /* shows the tab text and the icons: */
  label span {
    display: inline;
  }
  	body{
		
	margin:0 auto;
	/* width:100%; */
}

iframe{
	width:100%;
	height:400px;
}
.twitter-timeline{
	margin-top:0%;
	
	
}
.pictures{
	width:17%;
	margin-left:13%;
	
}
section footer {
  position: relative;
  bottom: 0;
  background: black;
  width: 100%;
 
}


}

/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {


body{
	width:80%;
	margin:auto;
}
iframe{
	width:100%;
	
}
.twitter{
	float:left;
	width:30%;
	padding-left:15%;
	
}
.twit{
	width:100%;
	height:450px;
}





}